In [1]:
import json
import sys
import pandas as pd
from keys import client_id, api_key
import requests

In [16]:
def generate_yelp_data():
# THIS FUNCTION IS USED AS A TESTING GROUND - RUN THIS FUNCTION TO GRAB ONE SET OF COUNT=50 SET OF DATA ONLY

    url =  "https://api.yelp.com/v3/businesses/search"
    term = 'Indian'
    location = 'Washington, D.C.'
    categories = "restaurants"
    radius = 1000

    url_params = {
                "term": term.replace(' ', '+'),
                "location": location.replace(' ', '+'),
                "categories" : categories,
                "radius" : radius,
                "limit": 50,
                }
    
    results = yelp_call(url, url_params, api_key)
    parsed_results, num = parse_results(results)
    parsed_reviews = generate_all_reviews(parsed_results.id)
    return parsed_results, parsed_reviews
    
def generate_all_yelp_data():
# THIS FUNCTION IS THE MAIN DRIVER - SETS SEARCH PARAMETERS, CALLS YELP API, PARSES RETURNED DATA AND STORED IN CSV/DATAFRAME

    term = 'Indian'
    location = 'Washington, D.C.'
    categories = "restaurants"
    radius = 1000
    price = 4
    
    url =  "https://api.yelp.com/v3/businesses/search"
    url_params = {
                "term": term.replace(' ', '+'),
                "location": location.replace(' ', '+'),
                "categories" : categories,
                "radius" : radius,
                "limit": 50,
#                "price": price,
                }

    all_results = pd.DataFrame()
    num = 1
    cur = 0
    
    while (cur < num and cur < 1000):

        url_params['offset'] = cur
        results = yelp_call(url, url_params, api_key)
        parsed_results, num = parse_results(results)
        parsed_reviews = generate_all_reviews(parsed_results.id)
        df_save('data/test_data.csv', parsed_results)
        df_save('data/test_reviews.csv', parsed_reviews)
        all_results = all_results.append(parsed_results)
        cur += 50

    return all_results

def generate_all_reviews(businesses_list):
# THIS FUNCTION IS CALLED TO CREATE A LIST OF REVIEWS FOR ALL BUSINESSES WITHIN ITS PASSED DATA SET

    all_business_reviews = []

    for biz in businesses_list:
        biz_reviews = get_yelp_reviews(biz)
        for each_business in biz_reviews:
            all_business_reviews.append(each_business)

    reviews_results = pd.DataFrame(all_business_reviews, columns=['business_id', 'review_id', 'text', 'rating', 'time_created'])
     
    return reviews_results
    
def get_yelp_reviews(business_id):
# THIS FUNCTION CALLS YELP API TO RETRIEVE ALL REVIEWS FOR A GIVEN BUSINESS ID

    business_reviews = []
    headers = {'Authorization': 'Bearer {}'.format(api_key),}
    url =  "https://api.yelp.com/v3/businesses/{}/reviews".format(business_id)

    review_response = requests.get(url, headers=headers)
    review_data = json.loads(review_response.text)
        
    for review in review_data['reviews']:
        review_tuple = (business_id, review['id'], review['text'], review['rating'], review['time_created'])
        business_reviews.append(review_tuple)

    return business_reviews

def yelp_call(url, url_params, api_key):
#THIS FUNCTION IS CALLED TO MAKE API CALL TO YELP AND RETURN THE RESPONSE

    headers = {'Authorization': 'Bearer {}'.format(api_key),}

    response = requests.get(url, headers=headers, params=url_params)
#    response.status_code
#    response.text

    return response

def parse_data(list_of_data):
#THIS FUNCTION CREATES A TUPLE OF BUSINESS INFORMATION FOR ALL BUSINESSES CAPTURED VIA YELP

    businesses=[]
    
    for business in list_of_data:
        get_categories = parse_categories(business['categories'])    
        num_categories = len(get_categories)
        if 'price' in business.keys():
            price_val = len(business['price'])
        else:
            price_val = 0
        biz_tuple = (business['id'], business['name'], get_categories, num_categories, price_val, business['review_count'], business['rating'], business['location']['address1'], business['location']['city'], business['location']['state'])
        businesses.append(biz_tuple)

    return businesses

def parse_results(results):
# THIS FUNCTION TAKES RESULTS RETURNED FROM YELP API, PARSES THE DATA, AND STORES AS A DATAFRAME

    #EITHER ONE WORKS
    #data = json.loads(response.text)
    data = results.json()
    num = data['total']
    
    parsed_results = parse_data(data['businesses'])
    df = pd.DataFrame(parsed_results, columns=['id', 'name', 'categories', 'num_categories', 'price', 'review_count', 'rating', 'street_address', 'city', 'state'])
    return df, num

def parse_categories(categories_dict):
# THIS FUNCTION TAKES THE CATEGORIES VALUE FROM A BUSINESS AND CREATES A LIST OF CATEGORIES OF THE BUSINESS

    list_of_categories = []
    x_len = len(categories_dict)
    for x in range(0,x_len):
        list_of_categories.append(categories_dict[x]['alias'])
    return list_of_categories

def df_save(csv_filepath, parsed_results):
# THIS FUNCTION SAVES A DATAFRAME AS A CSV FILE
    
    f = open(csv_filepath, 'a', encoding="utf-8")
    parsed_results.to_csv(f, header=False)
    f.close()

def part_4_quesions_answers(results_dataframe, reviews_dataframe)

    most_reviewed_businesses = results_dataframe.sort_values('review_count',ascending=False)[0:5][['business_id','name','review_count']]
    high_rated_bus_count = len(results_dataframe.loc[results_dataframe['rating']==results_dataframe['rating'].max()])
    bus_percent_by_rating = results_dataframe.groupby('rating').count().apply(lambda x: x/x.sum(), axis=0).business_id
    bus_percent_by_price = results_dataframe.groupby('price').count().apply(lambda x: x/x.sum(), axis=0).business_id
    #results_dataframe.sort_values('review_count',ascending=False)[0:1]['business_id'][1]
    most_reviewed_text = reviews_dataframe.loc[reviews_dataframe['business_id']==results_dataframe.loc[results_dataframe['review_count'].idxmax()]['business_id']].text

    max_rated_reviewed_biz = results_dataframe.loc[results_dataframe['rating']==results_dataframe['rating'].max()].sort_values(by='review_count', ascending=False).head(1).values[0][0]
    max_rated_review_text = reviews_dataframe.loc[reviews_dataframe['business_id']==max_rated_reviewed_biz].sort_values(by='time_created', ascending=False).head(1).text
    min_rated_reviewed_biz = results_dataframe.loc[results_dataframe['rating']==results_dataframe['rating'].min()].sort_values(by='review_count', ascending=False).head(1).values[0][0]
    min_rated_review_text = reviews_dataframe.loc[reviews_dataframe['business_id']==min_rated_reviewed_biz].sort_values(by='time_created', ascending=False).head(1).text

    print("Most reviewed business is: {}".format(most_reviewed_businesses))
    print("Num businesses with highest rating: {}".format(high_rated_bus_count))
    print("Percent of businesses by Rating: {}".format(bus_percent_by_rating))
    print("Percent of businesses by Price: {}".format(bus_percent_by_price))
    print("Sample review of most reviewed business: {}".format(most_reviewed_text))
    print("Latest review of highest rated, highest reviewed business: {}".format(max_rated_review_text))
    print("Latest review of lowest rated, lowest reviewed business: {}".format(min_rated_review_text))

In [17]:
# CALL THIS LINE TO GENERATE ALL YELP DATA BASED ON CRITERIA ABOVE AND STORE INTO CSV
all_results = generate_all_yelp_data()

In [19]:
# CALL THESE LINES TO LOAD AN EXISTING CSV DATA SET SAVED IN DIRECTORY AND PLAY WITH IT
all_results = pd.read_csv('data/hvac_houston.csv', converters={'categories': eval}, header=None, names=['id', 'name', 'categories', 'num_categories', 'price', 'review_count', 'rating', 'street_address', 'city', 'state'])

In [31]:
all_results.groupby(['rating'])['review_count','num_categories'].agg(['count', 'mean','median'])

       review_count                   num_categories
              count       mean median          count      mean median
rating
1.0              32   1.531250    1.0             32  1.968750      2
1.5               3   4.000000    3.0              3  3.000000      3
2.0              10   3.900000    3.5             10  2.500000      3
2.5               7   4.142857    3.0              7  2.285714      3
3.0              26   4.269231    2.0             26  2.346154      3
3.5              26   5.807692    5.0             26  2.076923      2
4.0              12   6.916667    5.5             12  2.250000      3
4.5              20  17.700000   11.5             20  2.150000      3
5.0             107   3.579439    2.0            107  2.355140      3

In [52]:
all_results.sort_values(by='review_count', ascending=False)

,id,name,categories,num_categories,price,review_count,rating,street_address,city,state
0,ObeexiHvTJ9OomAnMTIY4g,Lebedin Kofman,"[duilawyers, criminaldefense, divorce]",3,0,88,4.5,26 Broadway,New York,NY
1,PBi4Ro3954ZDZvfYrY4btA,Spodek Law Group,"[divorce, criminaldefense]",2,0,56,5.0,85 Broad St,New York,NY
3,dJt8s35t8eTiPVXze1NCeg,"Law Offices of Deborah G Fiss, Esq.",[divorce],1,0,42,4.5,37-06 82nd St,Jackson Heights,NY
2,bmNdMOltxH52KJ8VxSdM_g,"Law Offices of Mindin & Mindin, P C","[divorce, general_litigation, legalservices]",3,0,37,5.0,61 Broadway,New York,NY
14,7a9KjUg0cmxJDQDjoXfI3w,Bhatt Law Group,"[divorce, criminaldefense, personal_injury]",3,0,35,4.5,378 Summit Ave,Jersey City,NJ
...,...,...,...,...,...,...,...,...,...,...
20,gGGUpudvgwMvtNB2gRkrqA,J.J Borer ESQ,[divorce],1,0,1,5.0,26 Court St,Brooklyn,NY
18,Gfb9p1-JCzbQt5DoivaH_w,Law Office of Rong Kohtz,"[divorce, immigrationlawyers]",2,0,1,5.0,30 Wall St,New York,NY
17,MGBfQA4mR6GNGlCc30Jnhw,Clover Barrett & Associates,"[bankruptcy, divorce, estateplanning]",3,0,1,5.0,338 Atlantic Ave,Brooklyn,NY
16,msfPq-lBjGbfUK12Yp7WWg,Maryam Jahedi Law Firm,"[criminaldefense, duilawyers, divorce]",3,0,1,5.0,65 Broadway,New York,NY
42,pxGkqXSTeabiJj9skyefGA,Bruno & Ferraro,"[personal_injury, criminaldefense, divorce]",3,0,1,5.0,301 Rt 17 N,Rutherford,NJ

In [15]:
all_results.describe()

NameError: name 'all_results' is not defined

In [9]:
# CALL THIS FUNCTION TO TEST FUNCTIONALITY TO GRAB/STORE RETURNED YELP DATA FOR ONE SET OF 50 ONLY
new_data, new_reviews = generate_yelp_data()

In [9]:
#new_reviews
f = open('test_data.csv', 'a', encoding="utf-8")
new_data.to_csv(f, header=False)
f.close()

In [10]:
new_reviews

,business_id,review_id,text,rating,time_created
0,jj1vSlzf-G1_vTJJ6ftsAA,_SwrCl0Jfu79wy6WyOFRSQ,"4.5 stars, rounding up because it survived del...",5,2020-09-13 18:33:22
1,jj1vSlzf-G1_vTJJ6ftsAA,p3AGHJbDCgiEU-cLkP9EWA,This is a really cute joint that's fitting for...,5,2021-02-01 19:13:42
2,jj1vSlzf-G1_vTJJ6ftsAA,tsZZlIEWaJ61p6WrjDbvhg,I remember visiting this place on the night of...,5,2020-04-22 21:28:14
3,fqdtzS_KkBk7ugtd9t7KtQ,Ynfcw_GAUguE3JWsUMYajQ,"The food was phenomenal, and that is coming fr...",5,2020-12-11 16:56:57
4,fqdtzS_KkBk7ugtd9t7KtQ,j0XYjDEhkYQPkw2W6sohQw,Ordered delivery last month and completely for...,4,2020-08-19 20:56:55
5,fqdtzS_KkBk7ugtd9t7KtQ,Q7mJ6XsNvphVZcfz_BkFXA,"I've only ordered takeout from Sakina, but the...",5,2020-11-19 10:31:45
6,3_6iqAAM2UYGsjKLP6fSoQ,cT0iMXg9_4oZGJqbcLiMHw,OH MY GOD!!!! \n\nI had the Lamb Gosi (it's in...,5,2019-08-17 17:15:10
7,3_6iqAAM2UYGsjKLP6fSoQ,7BfZUcgQzBWIYtYbyOxeDg,Came here for lunch on a Friday. As a group we...,2,2019-09-06 10:06:31
8,3_6iqAAM2UYGsjKLP6fSoQ,M0fzXbiG885v0exoGxRxig,I loved this little spot in DC. Indian fare is...,5,2019-07-10 12:30:33
9,jDUSh15O6gLtE4yRtHclUA,arfeuDAk2QUPpoAh7N-uLg,We order delivery from sacrificial lamb almost...,5,2020-12-20 01:54:42
10,jDUSh15O6gLtE4yRtHclUA,MjNztDmFGndbPtrbI8yL2w,Excellent and affordable Indian food. Vegetabl...,5,2021-01-31 15:04:19
11,jDUSh15O6gLtE4yRtHclUA,2_Pz9PTYv0t1vj2tlrRunA,Sacrificial Lamb always has absolutely amazing...,5,2021-01-04 18:08:34
12,3OlVolEBO01GrqXGCfWV9Q,ZSEPkXIt0x7PCOhi5GFcOQ,Got takeout for dinner. I really wanted the cu...,4,2020-11-22 12:34:05
13,3OlVolEBO01GrqXGCfWV9Q,zdE5xvO_RJhLcIHh7CbkTA,The good was excellent. I got the chicken kabo...,5,2020-08-23 13:45:59
14,3OlVolEBO01GrqXGCfWV9Q,n06lzxiBjB68SOJRL_9pjg,"It doesn't look like a fancy spot, but the foo...",4,2020-02-20 12:11:48
15,hI1w_yO-8SAAp5TNmXd_2Q,u4_43vZR-fO-wB111yqS8g,"I've been to Elizabeth's last year, and also o...",5,2020-08-21 09:55:07
16,hI1w_yO-8SAAp5TNmXd_2Q,h_ptbSUAbnvtVM5pgGy3_w,This place is nothing short of amazing. Custom...,5,2020-07-08 18:21:47
17,hI1w_yO-8SAAp5TNmXd_2Q,15-sxedYQjnLGfiLzvXo2Q,This place can def turn a meat eater vegan. My...,5,2021-02-06 15:32:30
18,bGOl_yy-9mOIaYmAyQFTsw,qv4TAtMs09sX6_iD7JnbVA,"Hello, I am Calabash's newest faithful tribe m...",5,2020-05-15 10:54:14
19,bGOl_yy-9mOIaYmAyQFTsw,0Xhj7DLP2vmmMMs6vjc-yA,I attended a Yelp DC virtual event with Calaba...,5,2020-06-29 10:43:21
20,bGOl_yy-9mOIaYmAyQFTsw,VqG0FcLpjBjIrhRNElYwsg,"When you walk in to this place, you feel love....",5,2020-06-06 11:52:03
21,9w0mMbju_6YyJEPk9FeYsg,5o_DVEdJyG9V0PF5RAm-QQ,&pizza is literally the best!!! This location ...,5,2020-11-15 15:08:07
22,9w0mMbju_6YyJEPk9FeYsg,ZL7WLjKoodOPTiChRgzRCg,Super cool spot came on the late night last ni...,5,2020-09-13 16:08:08
23,9w0mMbju_6YyJEPk9FeYsg,1TReLXSPrmsUR-7x79mrqw,I just received the absolute greatest customer...,5,2021-01-18 11:24:04
24,Uuu2SjdghD_3ldsvpsfeVw,RcwYmqO7NRWuPuLNkNsoJg,Bland but plentiful portions. Had the saag pan...,2,2015-10-01 17:47:53
25,Uuu2SjdghD_3ldsvpsfeVw,ENalm7Q9O2TZNn9pA7M1KA,I love the food and the guy who runs it. Naans...,4,2015-08-19 10:44:10

In [27]:
all_results.groupby(['price'])['review_count','rating'].agg(['count', 'mean','median'])

      review_count                    rating
             count        mean median  count      mean median
price
0              229   19.000000      8    229  3.906114   4.00
1              245  159.040816     70    245  3.761224   4.00
2              504  258.077381    167    504  3.771825   4.00
3               20  445.400000    417     20  3.825000   4.00
4                2  420.000000    420      2  4.250000   4.25

In [11]:
all_results.describe()

       num_categories        price  review_count       rating
count     1000.000000  1000.000000   1000.000000  1000.000000
mean         2.035000     1.321000    183.135000     3.802000
std          0.858202     0.853632    391.724634     0.692297
min          1.000000     0.000000      1.000000     1.000000
25%          1.000000     1.000000     19.000000     3.500000
50%          2.000000     2.000000     88.000000     4.000000
75%          3.000000     2.000000    224.250000     4.125000
max          4.000000     4.000000   9545.000000     5.000000