In [2]:
import json
import sys
import pandas as pd
from keys import client_id, api_key
import requests

In [13]:
term = 'Indian'
location = 'Queens'
categories = "restaurants"
radius = 10000

url =  "https://api.yelp.com/v3/businesses/search"
url_params = {
            "term": term.replace(' ', '+'),
            "location": location.replace(' ', '+'),
            "categories" : categories,
            "limit": 50,
            }

headers = {'Authorization': 'Bearer {}'.format(api_key),}

response = requests.get(url, headers=headers, params=url_params)
data = response.json()

businesses = []
    
for business in data['businesses']:

    get_categories = []
    x_len = len(business['categories'])
    for x in range(0,x_len):
        get_categories.append(business['categories'][x]['alias'])
    num_categories = len(get_categories)

    if 'price' in business.keys():
        price_val = len(business['price'])
    else:
        price_val = 0
        
    biz_tuple = (business['id'], business['name'], get_categories, num_categories, price_val, business['review_count'], business['rating'], business['location']['address1'], business['location']['city'], business['location']['state'])
    businesses.append(biz_tuple)

parsed_results = pd.DataFrame(businesses, columns=['id', 'name', 'categories', 'num_categories', 'price', 'review_count', 'rating', 'street_address', 'city', 'state'])

In [15]:
parsed_results.head()

,id,name,categories,num_categories,price,review_count,rating,street_address,city,state
0,rpzgv0Y6fIT6RcBsxFsrSg,Paratha Wala,"[indpak, halal, bangladeshi]",3,0,192,5.0,103-09 Metropolitan Ave,Forest Hills,NY
1,c76v7CGWWjWj__18Mv2j5w,Ayna Agra Indian Restaurant,[indpak],1,2,397,4.0,213-35 39th Ave,Bayside,NY
2,jUkSkpxsJxiTa5C-H5pnyw,Tikka N Talk,[indpak],1,0,31,4.5,70-11 Austin St,Forest Hills,NY
3,lxNU-aBq0yPwBDx-i89ahA,Seva Indian Cuisine,"[indpak, bars]",2,2,1253,4.5,3007 34th St,Astoria,NY
4,GNPne4Il-itbn2sLbvMo1g,Angel Indian Restaurant,[indpak],1,2,107,5.0,7414 37th Rd,Jackson Heights,NY